<!-- Portfolio Grid Section -->
<section class="portfolio">
  <p class="main-text">Tejer fue un hobbie tardío, que una amiga me enseñó en una tarde en Estambul. Nunca pasé de la forma rectangular y dos variaciones de puntos. Lo único utilitario que sé tejer son bufandas de un estilo muy amateur: llenas de asimetrías y amor. Pero ellas me iniciaron en una producción marcada por distracciones y omisiones de carácter único e irrepetible, pero sobre todo, por el alivio que causa el saberse imperfecta.</p>
  <p class="main-text">Entonces comencé a tejer de manera desmesurada. Ya no bufandas sino formas creadas a partir de un deseo impaciente. Busqué la grandeza en los detalles, lo incompleto como norma, todo para llegar a lo no permanente, como las lanas, hilos, alambres; como las manos que tejen; como la cabeza que pone nombres; como los ojos que miran los árboles afuera; como todo lo que morirá uno de estos días. Y así surgió ERROR, ya convertido en un ejercicio para aceptar la mortalidad. Ser como una Penélope de la llamada mediana edad: que teje a presente; sin esperar que nada ni nadie regrese.</p>
  <p class="main-text">Mi formación y años de trabajo en el periodismo me han dado entrenamiento en probar cosas diferentes: desde ser corresponsal de guerra, escribir un libro, editar blogs, incursionar en guiones cinematográficos, trabajar en el campo humanitario, o realizar un documental en Irak. Por eso no me sorprende el aventurarme en un nuevo campo. La experiencia textil me devuelve al presente, me da un descanso del futurismo, respiro y tejo. Siento que todos deberíamos parar y hacerlo un rato. Tejer en paz.</p>
  <div class="grid">
    {% assign sortedPosts = site.posts | sort: 'date' %}
    {% for post in sortedPosts %}
    <div class="portfolio-item">
      <a id="{{  post.img | replace:'.jpg','' }}" href="/{{ post.permalink }}.html" class="portfolio-link">
        <img src="img/works/{{ post.img | replace:'.jpg','-thumbnail.jpg' }}" class="img-responsive" alt="{{ post.title }}">
      </a>
    </div>
    <div class="portfolio-caption">
      <a id="{{  post.img | replace:'.jpg','' }}" href="/{{ post.permalink }}.html" class="portfolio-link">
        <h4>{{ post.title }}</h4>
        <p class="text-muted">{{ post.material }}</p>
        <p class="text-muted"><strong>{{ post.size }}</strong></p>
        <p class="text-muted"><strong>{{ post.content | replace:'<!--break-->','...<!--break-->' | split:'<!--break-->' | first }}</strong></p>
        <p class="text-muted">Serie: <strong>{{ post.series }}</strong></p>
      </a>
    </div>
    {% endfor %}
  </div>
  <a href="/index.html#"><button>Volver</button></a>
</section>
